.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background:none;
    border: none;
    text-align: center;
  }
  .form-container {
    display: flex;
  }

  h3 {
    color: white;
  }

  .search-btn {
    background-color: rgb(25, 0, 255) !important;
    border-color: rgb(25, 0, 255) !important;
    margin-left: 1rem;
  }
  .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }